.wrapper {
  margin-top: 3rem;
  max-width: var(--width, 45rem);
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: var(--a, #F08080);
  text-decoration: none;
}

@media screen and (max-width: 40rem) {
  .wrapper {
    margin: 3rem .25em;
  }
}
