.wrapper {
  margin-top: 3rem;
  max-width: var(--width, 45rem);
  margin-left: auto;
  margin-right: auto;
}

.header,
.section {
  margin-left: 1rem;
  margin-right: 1rem;
  @media screen and (min-width: 45rem) {
    margin-left: 0;
    margin-right: 0;
  }
}
.section {
  margin-bottom: 3rem;
}


.link {
  color: var(--a, #F08080);
  text-decoration: none;
}
.postTitle {
  font-size: 3rem;
}
.postDate,
.postTags {
  color: color(#0f0f0f lightness(+ 35%));
  margin: 1rem 0 .5rem;
  border-bottom: solid 4px var(--b);
}

.postTags {
  display: inline-block;
}

.tag {
  background-color: var(--b-muted);
  padding: .25em;
  color: var(--b);
  border-radius: 4px;
  & a {
    color: inherit;
  }
}
