@import '../../vars.css';

.header {
  font-size: 1.8em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.pagename {
  margin-right: 3rem;
}

.projectslink,
.bloglink {
  text-decoration: none;
  margin: 0 .25em;
}

.projectslink {
  color: var(--b);
}

.bloglink {
  color: var(--b-muted);
}
