@import '../../vars.css';
.wrapper {
  margin-top: 3rem;
}

.container {
  max-width: var(--width-s);
  margin: 0 auto;
}

.lead {
  font-size: 2.4rem;
  max-width: 45rem;
  margin: 0 auto;
}

.body > p {
  margin: 1em 0;
}

.link {
  color: var(--a);
  text-decoration: none;
}

@media screen and (max-width: 40rem) {
  .wrapper {
    margin: 3rem .25em;
  }
}
