:root {
  --a: #F08080;
  --a-muted: #FFA07A;
  --b: #4169E1;
  --b-muted: color(#4169E1 lightness(+ 15%));
  --c: springgreen;
  --c-muted: color(springgreen lightness(+ 25%));


  --gray: #566573;
  --gray-muted: #D5D8DC;

  --fonts: -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen-Sans,
            Ubuntu,
            Cantarell,
            "Helvetica Neue",
            sans-serif;
  --font-size: 18px;

  --width: 45rem;
  --width-s: 30rem;
}
