.wrapper {
  margin-top: 3rem;
  max-width: var(--width, 45rem);
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: var(--width-s, 35rem);
  margin: 0 auto;
}

.lead {
  font-size: 2.4rem;
  max-width: var(--width, 45rem);
  margin: 0 auto;
}

.body > p {
  margin: 1em 0;
}

.link {
  color: var(--a, #F08080);
  text-decoration: none;
}

@media screen and (max-width: 40rem) {
  .wrapper {
    margin: 3rem .25em;
  }
}
